<div class="d-flex align-items-center justify-content-center">
  <div class="card d-flex align-items-center m-3">
    <h4>Studenti</h4>
    <img class="card-img-top" src="/assets/student.png" height="200vh" alt="org">
    <div>
      <button routerLink="/students" type="button" class="btn btn-success">Pogledaj listu</button>
    </div>
  </div>
  <div class="card d-flex align-items-center m-3">
    <h4>Profesori</h4>
    <img class="card-img-top" src="/assets/professor.png" height="200vh" alt="org">
    <div>
      <button routerLink="/profesori" type="button" class="btn btn-success">Pogledaj listu</button>
    </div>
  </div>
</div>
